.formModal {
  width: 60vw;
  min-height: 20vh;
  max-height: 80vh;
  /* overflow-x: scroll; */
  margin: auto;
  border: var(--border-500-c2);
  border-radius: 10px;
  padding: 2rem;
  background-color: var(--color-1);
}

.formModal h2 {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: var(--color-2);
}

dialog::backdrop {
  background-color: var(--color-2);
  opacity: 0.5;
}

.modal_btn_container {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal_btn_container button {
  background-color: var(--color-2);
  height: 30px;
  min-width: 30px;
  max-width: max-content;
  border: var(--border-100-c1);
}

.modal_btn_container button:not(:last-of-type) {
  margin-right: 0.5rem;
}

.modal_btn_container__submit {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
}

.modal_input_container {
  margin: 0.5rem;
  border: var(--border-100-c2);
  text-align: center;
  padding: 0.5rem;
}

.modal_input {
  border: var(--border-100-c1);
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}
