.formListItem {
  background-color: var(--color-2);
  border: var(--border-100-c2);
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  overflow-y: auto;
  text-overflow: ellipsis;
  gap: 2px;
}

.formListItem__position {
  text-align: center;
  font-size: 18px;
  border-bottom: var(--border-100-c1);
}

.formListItem__position p {
  margin-left: auto;
  width: max-content;
  padding: 1px 5px;
  border-left: var(--border-100-c1);
  border-bottom: var(--border-100-c1);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--color-1);
  color: var(--color-2);
  font-weight: bold;
}

.formListItem__content {
  font-size: 12px;
  font-weight: bold;
}
