.header {
  border-top: var(--border-500-c2);
  border-bottom: var(--border-900-c2);
  text-transform: uppercase;
  padding: 5px;
  background-color: black;
}

.headerHeading {
  color: white;
  padding: 5px;
  /* text-align: center; */
  font-size: clamp(20px, 10vw, 80px);
}
