.recipecard_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 1rem;
}

.recipecard__btnContainer {
  display: flex;
  height: max-content;
  /* align-items: flex-start; */
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin: auto 0;
  border: var(--border-500-c1);
}

.recipecard__btnContainer button:not(:last-of-type) {
  margin-bottom: 1rem;
}
.parent {
  background-color: transparent;
  width: calc(var(--recipe-card-width) + 10px); /* 10px = 2 * border width */
  height: calc(var(--recipe-card-height) + 10px);
  border: var(--border-500-c1);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.parentInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .parent:hover .parentInner {
  transform: rotateY(180deg);
} */

.parentInner__front {
  /* transform: rotateY(-180deg); */
}

.parentInner__back {
  transform: rotateY(180deg);
}

.fr,
.bk {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.fr {
}

.bk {
  transform: rotateY(180deg);
}
