.recipecard_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 1rem;
}

@media print {
  .recipecard_container {
    display: block;
    grid-template-columns: 1fr 2fr;
    gap: 0rem;
    padding: 0;
  }
}
