.recipecard__btnContainer {
  display: flex;
  height: max-content;
  /* align-items: flex-start; */
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  margin: auto 0;
  border: var(--border-500-c1);
}

.recipecard__btnContainer button:not(:last-of-type) {
  margin-bottom: 1rem;
}

@media print {
  .recipecard__btnContainer {
    display: none;
  }
}
